name: Convert Jupyter README

on:
  push:
    branches: [ master ]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  release:
    if: github.actor == 'andresrcorcho' && startsWith(github.event.head_commit.message, 'Update README')
    name: Build
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install dependencies & Convert README.ipynb
      run: |
        python -m pip install --upgrade pip
        pip install -r Requirements.txt
        jupyter nbconvert --ClearMetadataPreprocessor.enabled=True --ClearOutput.enabled=True --to markdown Readme.ipynb
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add Readme.md
        git commit -m "Convert Readme.ipynb to Readme.md" -a
    - name: Push changes
      if: success()
      uses: ad-m/github-push-action@master
      with:
        branch: master
        github_token: ${{ secrets.ACCESS_TOKEN }}
        
